/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/dummy/tmp/
/spec/dummy/log/*

# rspec failure tracking
.rspec_status

.DS_Store

.byebug_history

/npm/node_modules/
/npm/dist/
/spec/dummy/node_modules/
spec/dummy/public/packs-test/js/
spec/dummy/public/packs-test/manifest.json
spec/dummy/vendor/webdrivers/chromedriver
spec/dummy/vendor/webdrivers/chromedriver.version
npm/yarn-error.log
spec/dummy/db/development.sqlite3
