/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/dummy/tmp/
/spec/dummy/log/*

# rspec failure tracking
.rspec_status

.DS_Store

.byebug_history

/node_modules/
/spec/dummy/node_modules/
spec/dummy/public/packs-test/js/
spec/dummy/public/packs-test/manifest.json
